body {
  background: #FED05F;
  background-size: 400% 400%;
  height: 100vh;
}
header {
  margin-bottom: 100px;
}

/* Top Bar */
.ctfButton {
  margin-right: 20px;
}

/* Dashboard */
.logo {
  font-size: 30px;
}
.text-white {
  text-align: center;
}
.btn-success {
  margin-left: auto;
}
#bubble {
  margin: 20px 20px 20px 20px;
  border:black solid;#pane
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerText {
  width: 500px;
}

.textBubble {
  text-align: center;
  font-size: 100px;
  background-color: white;
  border: solid black;
  border-radius: 25px;
}

.mainContainer {
  height: 500px;
  background-color: #FED05F;
  margin-top: 200px;
}

.secondaryContainer {
  height: 650px;
  background-color: #768faa;
}

.scoreboard {
  margin-top: 30px;
  font-weight: 1000;
}

/* LOGIN PAGE */
.loginContainer {
  margin-top: 200px;
  height: 500px;
}

.loginContainer2 {
  margin-top: 50px;
}

.loginBtn {
  margin-bottom: 10px;
}

.loginForms {
  margin-top: 10px;
  margin-bottom: 15px;
}

.singInHeader {
  background-color: white;
  border: solid black;
  border-radius: 25px;
}

/* CTF PAGE */
.boxesHeader {
  font-weight: bold;
}
.pentestContainer {
  text-align: center;
  align-items: center;
  background-color: #ffd46e;
  margin-top: 80px;
  padding: 40px;
}
.pentestIMG {
  margin: 24px;
  max-width: 70%;
}
.networkContainer {
  text-align: center;
  align-items: center;
  background-color: #ffd46e;
  margin-top: 20px;
  padding: 40px;
}
.wiresharkIMG {
  margin: 24px;
  max-width: 70%;
}
.codingContainer {
  text-align: center;
  align-items: center;
  background-color: #ffd46e;
  margin-top: 20px;
  padding: 40px;
}
.codeIMG {
  margin: 24px;
  max-width: 70%;
}

.boxesContainer2 {
  border: solid;
  margin-top: 200px;
  height: 500px;
}

.mainContainerBox {
  margin-top: 100px;
  border: solid;
  background-color: white;
  border-radius: 25px;3
}

.flagForm {
  margin-top: 50px;
}


/* User Dashboard */
.userInfo {
  margin-bottom: 15px;
}