{% extends 'accounts/base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="container pentestContainer">
	  	<h1 class="boxesHeader">Pentest Labs</h1>
		<div class="row text-center">
	  		<div class="col-sm">
				<img src="{{'static/img/pt.png'}}" class="img-fluid boxIMG">
				<p>NotSoPi</p>
				<button type="button" class="btn btn-dark" onclick="location.href='ctf_NotSoPi'">Hack it!</button>
	    	</div>
	    	<div class="col-sm">
				<img src="{{'static/img/pt.png'}}" class="img-fluid boxIMG">
				<p class="text-center font-weight-bold text-danger">COMING SOON!</p>
	    	</div>
	    	<div class="col-sm">
	    	<img src="{{'static/img/pt.png'}}" class="img-fluid boxIMG">
				<p class="text-center font-weight-bold text-danger">COMING SOON!</p>
	    	</div>
	  </div>
	</div>
	<div class="container networkContainer">
	  	<h1 class="boxesHeader">Network Labs</h1>
		<div class="row text-center">
	  		<div class="col-sm">
				<img src="{{'static/img/ws.png'}}" class="img-fluid boxIMG">
				<p>What'aCapture</p>
				<button type="button" class="btn btn-dark" onclick="location.href='ctf_WhataCapture'">Analyse it!</button>
	    	</div>
	    	<div class="col-sm">
				<img src="{{'static/img/ws.png'}}" class="img-fluid boxIMG">
				<p class="text-center font-weight-bold text-danger">COMING SOON!</p>
	    	</div>
	    	<div class="col-sm">
	    	<img src="{{'static/img/ws.png'}}" class="img-fluid boxIMG">
				<p class="text-center font-weight-bold text-danger">COMING SOON!</p>
	    	</div>
	  </div>
	</div>
	<div class="container codingContainer">
	  	<h1 class="boxesHeader">Coding Labs</h1>
		<div class="row text-center">
	  		<div class="col-sm">
				<img src="{{'static/img/code.png'}}" class="img-fluid boxIMG">
				<p>LanguageOrSnake?</p>
				<button type="button" class="btn btn-dark" onclick="location.href='ctf_LanguageOrSnake'">Code it!</button>
	    	</div>
	    	<div class="col-sm">
				<img src="{{'static/img/code.png'}}" class="img-fluid boxIMG">
				<p class="text-center font-weight-bold text-danger">COMING SOON!</p>
	    	</div>
	    	<div class="col-sm">
	    	<img src="{{'static/img/code.png'}}" class="img-fluid boxIMG">
				<p class="text-center font-weight-bold text-danger">COMING SOON!</p>
	    	</div>
	  </div>
	</div>
</div>

{% endblock %}