{% extends 'accounts/base.html' %}

{% block content %}

<div class="container-fluid mainContainer">
  	<div class="container">
  	    <div class="row">
  	    	<div class="col-md-6">
  	        	<img src="{{'static/img/pi.png'}}" class="img-fluid">
  	      	</div>
  	      	<div class="col-md-6 headerText">
  	        	<div class="box p-4">
  	       			<h1>The <span class="textBubble">Cyber Portal</span></h1>
           			<p>Do you have the <strong>skill</strong> and <strong>knowledge?</strong></p>
					{% if request.user.is_authenticated %}
            		<button type="button" class="btn btn-dark" onclick="location.href='boxes'">Try Now!</button>
					{% else %}
            		<button type="button" class="btn btn-dark" onclick="location.href='loginPage'">Try Now!</button>
					{% endif %}
        		</div>
        	</div>
      	</div>
      	<div class="col scoreBox">
	      	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		        <h2>Top Users</h2>
		        <div class="form-group">
					<select class="form-control">
					  <option selected>All Time</option>
					  <option value="1">Weekly</option>
					  <option value="2">Monthly</option>
					</select>
				</div>
	      	</div>

	      <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
	      <div class="table-responsive">
	        <table class="table table-striped table-sm">
	          <thead>
	            <tr>
	              <th scope="col">#</th>
	              <th scope="col">User</th>
	              <th scope="col">Points</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr>
	              <td>01</td>
	              <td>Bigbob</td>
	              <td>1084</td>
	            </tr>
	            <tr>
	              <td>02</td>
	              <td>littleWhiskey</td>
	              <td>942</td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
    	</div>
    </div>
</div>

{% endblock %}