{% extends 'accounts/base.html' %}

{% block content %}

<div class="container-fluid mainContainer">
  	<div class="container">
  	    <div class="row">
  	    	<div class="col-md-6">
  	        	<img src="{{'static/img/pi.png'}}" class="img-fluid">
  	      	</div>
  	      	<div class="col-md-6 headerText">
  	        	<div class="box p-4">
  	       			<h1>The <span class="textBubble">Cyber Portal</span></h1>
           			<p>Do you have the <strong>skill</strong> and <strong>knowledge?</strong></p>
					{% if request.user.is_authenticated %}
            		<button type="button" class="btn btn-dark" onclick="location.href='boxes'">Try Now!</button>
					{% else %}
            		<button type="button" class="btn btn-dark" onclick="location.href='loginPage'">Try Now!</button>
					{% endif %}
        		</div>
        	</div>
      	</div>
    </div>
</div>
{% endblock %}