<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand text-dark font-weight-bold logo" href="/">.CyberPi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link ctfButton font-weight-bold" href="boxes">CHALLENGES</a>
      </li>
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <button class="btn btn-success" type="button" onclick="location.href='logout'">Logout</button>
        {% else %}
        <button class="btn btn-success" type="button" onclick="location.href='loginPage'">Login</button>
        {% endif %}
    </div>
      </li>
    </ul>
  </div>
</nav>