{% extends 'accounts/base.html' %}

{% block content %}

<div class="container">
<br>
	<div class="p-5 mb-4 rounded-3">
        <h1 class="display-5 fw-bold dashboardHeader">User Dashboard</h1>
		<div class="row pointRow">
			<div class="col-md">
				<div class="card card-body">
					<h5>User Points</h5>
					<hr>
					<form method="POST" action="">
						{% csrf_token %}
					<input class="form-control" type="text" placeholder="{{user_points}}" readonly >
					
				</div>
			</form>
			</div>
			<div class="col-md">
				<div class="card">
   					<div class="card-header">
      					<h5 class="h3 mb-0">Points chart</h5>
   					</div>
			   	<div class="card-body">
      				<div class="chart">
			        	 <canvas id="chart-points" class="chart-canvas"></canvas>
      				</div>
   				</div>
				</div>
			</div>
		</div>
<br>

<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<table class="table table-sm">
						<tr>
							<th>Date</th>
							<th>Challenge</th>
							<th>Points</th>
						</tr>
					</table>
				</div>
			</div>
		</div>
<br>

<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Account Information:</h5>
					<hr>
					<p>Username: </p>
					<input class="form-control userInfo" type="text" placeholder="Username: {{request.user}}" readonly>
					<br>
					<!-- <p>Change Password: </p> -->
					<form method="POST" action="">
              			{% csrf_token %}
          				<div class="form-floating loginForms">
						{{form.password1}}
						</div>
						<div class="form-floating loginForms">
						{{form.password2}}
						</div>
						<button class="w-100 mb-2 btn btn-lg rounded-4 btn-secondary" type="button" onclick="location.href='loginPage'">Update Password</button>
            		</form>
					<hr>
					<div class="row ">
						<form method="POST" action="delete">
							{% csrf_token %}
						<div class="col-md">
							<button type="submit" value="delete" class="w-100 mb-2 btn btn-lg rounded-4 btn-danger" type="button">Delete user</button>
						</div>
						</form>
						<div class="col-md">
						</div>
						<div class="col-md">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder="{{user_points}}"
	form_fields[2].placeholder="{{request.user}}"

    for(var field in form_fields){
	   form_fields[field].className += ' form-control'
	}
</script>

{% endblock %}